<div class="bg-blue-300  min-h-screen items-center">
  <div class = "bg-white items-center justify-center p-4 grid grid-cols-2">

    <div class="flex items-center mb-6 ">
      <h2 class="text-4xl font-bold">Wszystkie kursy</h2>
    </div>

<form class="max-w-md mx-auto mb-2" (submit)="$event.preventDefault()">
  <input
    [formControl]="searchControl"
    type="search"
    placeholder="Wyszukaj kurs"
    class="text-center block w-full p-4 ps-12 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50
           focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 
           dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />
</form>
</div>

<div class="bg-white m-12 rounded-xl shadow-lg border grid grid-cols-1">

<div *ngIf="isLoading" class="text-center py-4">
  <p>ładowanie</p>
</div>

<div *ngIf="!isLoading">
  <div *ngIf="filteredCourses.length > 0; else noCourses">
    <ul>
      <li *ngFor="let course of filteredCourses" class="mb-2 p-3 border border-gray-200 rounded-lg hover:bg-gray-50">
        <a [routerLink]="isUserEnrolled(course.id) ? ['/course', course.id] : ['/enrollment', course.id]" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{course.name}}</h5>
          <p class="font-normal text-gray-700 dark:text-gray-400">{{course.description}}</p>
       </a>
      </li>
    </ul>
  </div>
  
  <ng-template #noCourses>
    <div class="text-center py-8">
      <p class="text-gray-500" *ngIf="allCourses.length === 0">
        Nie znaleziono kursów
      </p>
      <p class="text-gray-500" *ngIf="allCourses.length > 0">
        Nie znaleziono kursów "{{ searchControl.value }}".
      </p>
    </div>
  </ng-template>
</div>
</div>

</div>