h4 {
        display: block;
        cursor: pointer;
        font-size: 20px;
        color: blue;
         &:hover {
            text-decoration: underline;
            display: inline; 
        }
    }