<div class="panel p-6 bg-gray-100 text-center rounded-lg shadow-md">
  <h2 class="text-xl font-semibold mb-2">{{user?.firstName}} {{user?.lastName}}</h2>

  <h1 class="text-3xl font-bold mb-4">Szczegóły</h1>

  <h2 class="text-lg mb-6">Adres e-mail: {{user?.email}}</h2>

  <h1 class="text-3xl font-bold mb-4">Udział w kursach:</h1>
  <ul class="mb-6 space-y-2">
    <li *ngFor="let course of myCourses">
      <h3 routerLink="/course/{{course.id}}" class="text-lg text-gray-700">{{course.name}}</h3>
    </li>
  </ul>

  <h1 class="text-3xl font-bold mb-2">Akcje</h1>
  <h3 routerLink="/change-password" class="text-blue-600 hover:underline hover:text-blue-800 cursor-pointer text-lg">Zmień hasło</h3>
</div>
