<div class="bg-blue-300 min min-h-full pt-8">
<div *ngIf="!isLoading" class="flex flex-col space-y-6 p-4 bg-white rounded-xl shadow-md m-12">

        <div class="flex items-center mb-6 ">
      <h2 class="text-4xl font-bold">{{course?.name}}</h2>
    </div>

    <div *ngIf="isTeacher || isAdmin" class="button-group" class = "justify-center items-center flex">
        <button [routerLink]="['/course', id, 'create-homework']">Dodaj zadanie</button>
        <button [routerLink]="['/course', id, 'add-asset']">Dodaj zasób</button>
        <button [routerLink]="['/course-report', course!.id]">Raport dla kursu</button>
    </div>
    <div *ngIf="homeworks&& homeworks.length > 0">
    <ul>
        <li *ngFor="let homework of homeworks">
            <a [routerLink]="['/homework', homework.id]" class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{homework.name}}</h5>
                <p class="font-normal text-gray-700 dark:text-gray-400">{{homework.description}}</p>
            </a>
        </li>
    </ul>
  </div>
</div>
</div>