<div class="bg-blue-300 min-h-full items-center flex justify-center">
<div class="w-full max-w-md p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <form (ngSubmit)="onSubmit()"  class="space-y-6" action="#">

            <label for="oldPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Wpisz swoje stare hasło:</label>
            <input type="password" [(ngModel)]="enteredOldPassword" name="oldPassword" id="oldPassword"  placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
            <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Wpisz nowe hasło:</label>
            <input type="password" [(ngModel)]="enteredNewPassword" name="newPassword" id="newPassword"  placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required />
        
          
        <button type="submit" class="w-full text-white bg-gray-500 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Dołącz do kursu</button>
        <p *ngIf="errorMessage" class="text-red-500 mt-2">{{ errorMessage }}</p>
    </form>
</div>
</div>